.form-2 {
  width: 400px;
  margin: 0 auto;
}

.form-2 .small {
  float: left;
}

.form-2 .small input {
  width: 170px;
}

.form-2 .margin {
  margin-right: 60px;
  margin-bottom: 20px
}

.form-2 .btn {
  margin: 0 auto
}